In [2]:
import numpy as np
import pandas as pd

In [4]:
arr = np.array([[10,20,np.nan],[11,np.nan,np.nan],[21,np.nan,10]])

In [5]:
arr

array([[10., 20., nan],
       [11., nan, nan],
       [21., nan, 10.]])

In [6]:
df = pd.DataFrame(arr,index = ["index1","index2","inddex3"],columns = ["Column1","Column2","Column3"])

In [7]:
df

         Column1  Column2  Column3
index1      10.0     20.0      NaN
index2      11.0      NaN      NaN
inddex3     21.0      NaN     10.0

In [8]:
df.dropna(axis = 1)

         Column1
index1      10.0
index2      11.0
inddex3     21.0

In [9]:
df

         Column1  Column2  Column3
index1      10.0     20.0      NaN
index2      11.0      NaN      NaN
inddex3     21.0      NaN     10.0

In [11]:
df.dropna(thresh = 2)

         Column1  Column2  Column3
index1      10.0     20.0      NaN
inddex3     21.0      NaN     10.0

In [12]:
df

         Column1  Column2  Column3
index1      10.0     20.0      NaN
index2      11.0      NaN      NaN
inddex3     21.0      NaN     10.0

In [13]:
df.fillna(value = 1)

         Column1  Column2  Column3
index1      10.0     20.0      1.0
index2      11.0      1.0      1.0
inddex3     21.0      1.0     10.0

In [14]:
df

         Column1  Column2  Column3
index1      10.0     20.0      NaN
index2      11.0      NaN      NaN
inddex3     21.0      NaN     10.0

In [16]:
df.sum().sum()

72.0

In [17]:
df.size

9

In [19]:
df.isnull().sum().sum()

4

In [20]:
def calculateMean(df):
    totalSum = df.sum().sum() 
    totalNum = df.size - df.isnull().sum().sum()
    return totalSum/ totalNum

In [22]:
df.fillna(value = calculateMean(df),inplace = True)

In [23]:
df

         Column1  Column2  Column3
index1      10.0     20.0     14.4
index2      11.0     14.4     14.4
inddex3     21.0     14.4     10.0

In [24]:
df

         Column1  Column2  Column3
index1      10.0     20.0     14.4
index2      11.0     14.4     14.4
inddex3     21.0     14.4     10.0