In [1]:
import numpy as np
import pandas as pd

In [2]:
labels_list = ["Mustafa","Kemal","hakan","nuray","ayşe"]

In [3]:
data_list = [10,20,30,40,50]

In [4]:
pd.Series(data_list,labels_list)

Mustafa    10
Kemal      20
hakan      30
nuray      40
ayşe       50
dtype: int64

In [5]:
pd.Series(data_list)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [13]:
npArray = np.array([10,20,30,40,50])

In [14]:
pd.Series(npArray)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [15]:
pd.Series(npArray,labels_list)

Mustafa    10
Kemal      20
hakan      30
nuray      40
ayşe       50
dtype: int32

In [21]:
pd.Series(data = npArray,index= ["A","B","C","D","E"])

A    10
B    20
C    30
D    40
E    50
dtype: int32

In [22]:
dataDict = {"kadir" :30,"Aysun":40,"Nermin":75}

In [23]:
pd.Series(dataDict)

kadir     30
Aysun     40
Nermin    75
dtype: int64

In [30]:
ser2017 = pd.Series([5,10,14,21],["Bugday","Mısır","Elma","Erik"])

In [31]:
ser2017

Bugday     5
Mısır     10
Elma      14
Erik      21
dtype: int64

In [32]:
ser2018 = pd.Series([2,7,23,9],["Bugday","Mısır","Çilek","Erik"])

In [33]:
ser2018

Bugday     2
Mısır      7
Çilek     23
Erik       9
dtype: int64

In [34]:
ser2017 +ser2018

Bugday     7.0
Elma       NaN
Erik      30.0
Mısır     17.0
Çilek      NaN
dtype: float64

In [35]:
total = ser2017 +ser2018

In [36]:
total

Bugday     7.0
Elma       NaN
Erik      30.0
Mısır     17.0
Çilek      NaN
dtype: float64

In [37]:
total["Elma"]

nan

In [38]:
total["Bugday"]

7.0