In [36]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [37]:
outerIndex = ["Group1","Group1","Group1","Group2","Group2","Group2","Group3","Group3","Group3"]

In [38]:
İnnerIndex = ["Index1","Index2","Index3","Index1","Index2","Index3","Index1","Index2","Index3"]

In [39]:
list(zip(outerIndex,İnnerIndex))

[('Group1', 'Index1'),
 ('Group1', 'Index2'),
 ('Group1', 'Index3'),
 ('Group2', 'Index1'),
 ('Group2', 'Index2'),
 ('Group2', 'Index3'),
 ('Group3', 'Index1'),
 ('Group3', 'Index2'),
 ('Group3', 'Index3')]

In [40]:
hierarchy = list(zip(outerIndex,İnnerIndex))

In [41]:
hierarchy = pd.MultiIndex.from_tuples(hierarchy)

In [42]:
hierarchy

MultiIndex([('Group1', 'Index1'),
            ('Group1', 'Index2'),
            ('Group1', 'Index3'),
            ('Group2', 'Index1'),
            ('Group2', 'Index2'),
            ('Group2', 'Index3'),
            ('Group3', 'Index1'),
            ('Group3', 'Index2'),
            ('Group3', 'Index3')],
           )

In [43]:
df =pd.DataFrame(randn(9,3),hierarchy,columns = ["Column1","Column2","Column3"])

In [44]:
df

                Column1   Column2   Column3
Group1 Index1 -0.951419  1.152308  1.745728
       Index2  0.104822 -0.306332 -1.854671
       Index3  0.038403  0.878926  0.845145
Group2 Index1  0.479941 -0.155364 -0.019007
       Index2  1.574161 -0.620675 -1.037152
       Index3 -1.132785  0.654406  0.346405
Group3 Index1  1.367490  0.343573  1.296493
       Index2  0.308917 -0.592158  2.236512
       Index3 -1.112629 -1.344681 -2.156374

In [45]:
df["Column1"]

Group1  Index1   -0.951419
        Index2    0.104822
        Index3    0.038403
Group2  Index1    0.479941
        Index2    1.574161
        Index3   -1.132785
Group3  Index1    1.367490
        Index2    0.308917
        Index3   -1.112629
Name: Column1, dtype: float64

In [46]:
df.loc["Group1"]

         Column1   Column2   Column3
Index1 -0.951419  1.152308  1.745728
Index2  0.104822 -0.306332 -1.854671
Index3  0.038403  0.878926  0.845145

In [47]:
df.loc[["Group1","Group2"]]

                Column1   Column2   Column3
Group1 Index1 -0.951419  1.152308  1.745728
       Index2  0.104822 -0.306332 -1.854671
       Index3  0.038403  0.878926  0.845145
Group2 Index1  0.479941 -0.155364 -0.019007
       Index2  1.574161 -0.620675 -1.037152
       Index3 -1.132785  0.654406  0.346405

In [50]:
df.loc["Group1"].loc["Index1"]["Column1"]

-0.9514187998875829

In [53]:
df.index.names

FrozenList([None, None])

In [56]:
df.index.names = ["Groups","Indexes"]

In [57]:
df

                 Column1   Column2   Column3
Groups Indexes
Group1 Index1  -0.951419  1.152308  1.745728
       Index2   0.104822 -0.306332 -1.854671
       Index3   0.038403  0.878926  0.845145
Group2 Index1   0.479941 -0.155364 -0.019007
       Index2   1.574161 -0.620675 -1.037152
       Index3  -1.132785  0.654406  0.346405
Group3 Index1   1.367490  0.343573  1.296493
       Index2   0.308917 -0.592158  2.236512
       Index3  -1.112629 -1.344681 -2.156374

In [58]:
df.xs("Group1")

          Column1   Column2   Column3
Indexes
Index1  -0.951419  1.152308  1.745728
Index2   0.104822 -0.306332 -1.854671
Index3   0.038403  0.878926  0.845145

In [60]:
df.xs("Group1").xs("Index1")

Column1   -0.951419
Column2    1.152308
Column3    1.745728
Name: Index1, dtype: float64

In [61]:
df.xs("Group1").xs("Index1").xs("Column1")

-0.9514187998875829

In [63]:
df.xs("Index1",level = "Indexes")

         Column1   Column2   Column3
Groups
Group1 -0.951419  1.152308  1.745728
Group2  0.479941 -0.155364 -0.019007
Group3  1.367490  0.343573  1.296493